
*{
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000; 
        /* https://wpshout.com/quick-guides/create-text-outline-css/ */
        color: #006cd1
}
h1, h2 {
    text-align:center;
}
body {
    background-image: url('coffeeBackground.jpg');
    background-size: 100%;
    background-attachment:fixed;
    }
nav {
        position:fixed;
    top:0;
    width:100%;
    background-color: #681c1c;
}
nav ul {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    list-style-type: none;
}
nav ul li {
    margin-left: 25px;
    }
header h1 {
    margin-top:50px;
}
main {
    font-size:xx-large
}
main section {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
}
main section h2 {
    width:100%;
}
main section img {
    width:30%;
    object-fit:contain;
    border:#fff;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    justify-self:center
    /* align-self:flex-start; */
}
main section p {
    width: 50%;
    border:#fff;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    background-color: #681c1c4f;
    font-size:x-large;
}
section ul {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
}
section ul li {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    text-align:center;
}
section ul li img {
    width:100%;
}
section ul li a {
    background-color:#681c1c4f;
}
@media screen and (max-width:1080px) {
    section ul li {
        width:80%;
    }
    main section img {
        width:70%
    }
    main section p {
        width:80%
    }
}
#contactMe {
    display = flex;
    flex-direction:column;
    align-items: center;
}