body {
    background-image: url('coffeeBackground.jpg');
    color: #72b472;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000; 
        /* https://wpshout.com/quick-guides/create-text-outline-css/ */
}
nav {
    
    position:fixed;
    top:0;
    width:100%;
    background-color: #681c1c4f;
}
ul {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    list-style-type: none;
}
ul li {
    margin-left: 25px;
    
}
ul li a {
    color: #72b472;
}
header h1 {
    margin-top:50px;
}
main {
    font-size:xx-large
}
main section {
    display:flex;
    flex-wrap:wrap;
}
main section h2 {
    width:100%;
}