nav {
    
    position:fixed;
    top:0;
    width:100%;
    background-color: blue;
}
ul {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    list-style-type: none;
}
ul li {
    margin-left: 25px;
    
}
ul li a {
    color:black;
}
header h1 {
    margin-top:50px;
}
main {
    font-size:xx-large
}
main section {
    display:flex;
    flex-wrap:wrap;
}
main section h2 {
    width:100%;
}